.nav {
    &.is-blue {
        background-color:$blue;
        a {
            color:#fff;
        }
    }

    &.is-blue-black {
        background-color:$blue-black;
        a {
            color:#fff;
        }
    }
}