.box {
    &.is-grey {
        background-color:#7a7a7a ;
    }

    .box-header {
        padding:10px;
        .title {
            display:inline-block;
            font-size:1.2em;
            color: #FFF;
            font-weight: bold;
        }
    }

    .box-body {
        padding:0px 10px 10px 10px;

        .box:not(:last-child) {
            margin-bottom: 10px;
         }
    }

}

.box-panel {
    padding:0px;
    
    .panel-title {
        background: #787e8c;
        padding: 15px 10px;
        color: #fff;
    }    

    .panel-body {
        padding:20px; 
    }
}