.tcenter {
    text-align: center !important; 
}

.tright {
    text-align: right !important;
}

.tleft {
    text-align: left !important ;
}
.no-padding {
    padding:0px !important ;
} 

.button.block {
    width:100% !important;
    height:45px !important;
}